#  Credentials 
.env
kaggle.json
*.key

#  Raw data 
*.csv
*.parquet
*.h5
data\raw\

#  Python 
__pycache__\
*.pyc
*.pyo
.ipynb_checkpoints\
*.egg-info\
dist\
build\

#  ML artifacts
*.pkl
*.joblib
mlruns\

#  Power BI 
*.pbix

#  Windows OS 
Thumbs.db
desktop.ini

#  IDEs 
.vscode\settings.json
.idea\